* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.text-dark {
  color: #3b3b3b;
  font-family: 'Roboto', sans-serif;
  position: relative;
}

.text-light {
  color: #8b8b8b;
  font-family: 'Roboto', sans-serif;
  position: relative;
}

.size-24 {
  font-size: 24px;
}

.size-14 {
  font-size: 14px;
}

.w700 {
  font-weight: 700;
}

.acme {
  font-family: 'Acme', sans-serif;
  font-weight: 400;
}

/*#ff5d55*/

.relative-wrapper {
  position: relative;
}

.mdc-fab {
  background-color: #aedd94;
  position: absolute;
  right: 13px;
  top: 12px;
}

.mdc-fab--mini {
  width: 30px;
  height: 30px;
}

.mdc-fab__icon {
  color: #3b3b3b;
}

.material-icons {
  color: #3b3b3b;
}

.mdc-button {
  text-transform: uppercase;
  --mdc-theme-primary: #3b3b3b;
}

.activeBtn {
  color: #ff5d55 !important;
}

.selected {
  box-shadow: 7px 0 1px 0 #ff5d55;
  z-index: 1;
}

.grid {
  position: relative;
  display: grid;
  width: 80%;
  grid-gap: 37px;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}

/* Specific classes */

.bet {
  box-shadow: -1px 4px 3px 1px #d6d6d6;
  width: 344px;
  justify-self: center;
  display: inline-block;
  border: 0;
}

.alternative {
  height: 55px;
  width: 100%;
  position: relative;
  background-color: #ebebeb;
}

.alternative>span {
  /* Alternative number */
  position: absolute;
  left: 13px;
  top: 13px;
}

.alternative>p {
  top: 19px;
  left: 69px;
}

/*funkar ej med labels då html strukturen är ändrad*/
.alternative:nth-child(even) {
  background-color: #d6d6d6;
}

input[class=radioOption] {
  display: none;
}

input[class=radioOption]:checked ~ .alternative {
  /*Mitt försök till att härma bordern som är i mockupen, vilket är ganska fail, ändra gärna*/
  box-shadow: 2px 2px 5px  #ff5d55 inset, -2px -2px 5px #ff5d55 inset;
}

.bet-top {
  height: 79px;
  width: 100%;
  background-color: #f9f9f9;
  position: relative;
}

.bet-top>.inf {
  /* Title and created by ... */
  position: absolute;
  top: 22px;
  left: 70px;
}

.bet-top>p {
  /* End date ... */
  position: absolute;
  bottom: 4px;
  right: 4px;
}

.bet-middle {
  height: auto;
  width: 100%;
  position: relative;
}

.bet-bottom {
  background-color: #f9f9f9;
  width: 100%;
  position: relative;
  min-height: 139px;
  padding: 4px;
}

.peeps {
  position: absolute;
  right: 4px;
  top: 4px;
}

.peeps p {
  position: absolute;
  right: 26px;
  top: 1px;
}

.peeps i {
  position: absolute;
  right: 0;
}

.bet-bottom>p {
  /* Betting closes in ... */
  position: absolute;
  bottom: 0px;
  left: 4px;
}

.bet-bottom>.inf>h1 {
  /* Bet title */
  position: relative;
  max-width: 290px;
  font-weight: 500;
}

.bet-bottom>.inf>div * {
  /* Coin and icon */
  display: inline-block;
}

.bet-bottom>.inf>div i {
  /* HQ icon in bet */
  position: absolute;
  top: -1px;
  color: #ff5d55;
}

.bet-bottom>.buts {
  position: absolute;
  bottom: 12px;
  right: 4px;
}

.userImage {}
@media screen and (max-width: 1840px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 1381px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 904px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
