#closeMenu {
    margin: .3em;
    position: fixed;
    top: 0px;
    right: 0px;
    display: none;
    font-size: 3em;
    background-color: transparent;
    border: none;
    color: white;
    transition: color 1s;
    
}

#openMenu {
    margin: .5em;
    position: fixed;
    padding: 5px;
    top: 0px;
    right: 0px;
    font-size: 2em;
    background-color: transparent;
    border: none;
    color: #232323;
}

#menu {
    font-family: "Roboto";
    width: 100%;
    opacity: .9;
    background-color: #232323;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0px;
    right: 0px;
    transform: translateX(100%);
    transition: transform .4s ease;
}


@media (min-width: 800px) {
    #menu {
        width: 500px;
    }
}

#menu button {
    border: none;
    background-color: #232323;
    color: #fafafa;
    padding: 1em;
    font-size: 18px;
    transition: color .5s;
}

#menu button:first-child{
    height: .2em;
}

#menu div {
    display: inline-block;
    height: 1px;
    width: 90%;
    margin-left: 5%;
    background-color: #fafafa;
}

#menu button:hover{
    color: #ff5d55;
}

#closeMenu:hover {
    color: #ff5d55;
}

@media (max-width: 900px) {
    #footer {
        flex-direction: column;
    }
    
    #footer #links {
    }
    
    #footer > div {
        flex-direction: column;
        align-items: center;
    }
    
    #footer #logo {
        margin: 0px;
    }
    
    #footer #socialMedia {
    margin: 0px;  
    }   
}

footer {
    font-family: "roboto";
    background-color: lightgray;
    position: relative;
    bottom: 0px;
    width: 100%;
}

footer > div {
    display: flex;
    justify-content: space-between;
}

footer #logo {
    width: 400px;
    height: 50px;
    margin-left: 5em;
}

footer > div > div {
    display: flex;
    align-items: flex-end;
}

footer #links {
    display: flex;
    justify-content: space-around;
}

footer #links div {
    margin: .5em;
    transition: color 1s;
}

footer #links div:hover{
    color: #ff5d55;
    cursor: pointer;
}

footer > div #socialMedia img {
    height: 50px;
    transition: transform 1s;
}

footer > div #socialMedia img:hover {
    transform: scale(1.2);
    cursor: pointer;
}

footer > div > #socialMedia {
    margin-right: 5em;
    flex-direction: column;
    align-items: center;
}

footer > div > #socialMedia > div {
    display: flex;
}