* {
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Roboto", sans-serif;
    color: #3b3b3b;
    box-sizing: border-box;
}

body {
    background: #eeeeee;
    overflow-y: scroll;
}

.hidden {
    display: none !important;
}

.cover {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    overflow: auto;
    position: fixed;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.5);
}

h1, h2, h3, h4, h5, h6 {
    color: #3b3b3b;
}

p {
    color: #8b8b8b;
}

a {
    color: #aedd94;
    text-decoration: none;
}

a:hover {
    color: #94ddb9;
}

.loginWrapper {
    background: rgb(220, 220, 220);
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    overflow: auto;
    position: fixed;
}

.signUpWrapper {
    border-top: 3px solid;
    border-image: linear-gradient(45deg, #aedd94, #94ddb9) 1 round;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.triangle-down {
    margin-top: -1px;
    margin-left: 50%;
    margin-right: 50%;
    flex: 0 0 0% !IMPORTANT;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 30px solid rgb(247, 247, 247);
}

.becomeAnAddict {
    background: rgb(247, 247, 247);
}

.addictParagraph {
    text-align: left;
    width: 80%;
    margin-left: 10%;
    margin-top: 1em;
    margin-bottom: 1em;
}

.header {
    padding-top: 1em;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.subHeader {
    padding-top: 0.25em;
}

.howToPlay {
    background: linear-gradient(45deg, hsl(99, 52%, 52%), hsl(150, 52%, 52%));
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 2em;
}

.howToPlay .item {
    flex: 0 0 80%;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
}

.howToPlay .item h2 {
    font-size: 48px;
}

.howToPlay .item h2::before {
    content: "-";
}

.howToPlay .item h2::after {
    content: "-";
}

.howToPlay .item p:first-of-type {
    font-weight: 600;
    margin-bottom: 0.5em;
}

.htpText {
    color: hsl(99, 52%, 82%);
}

.loginModal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    background: white;
    padding: 2em;
    min-width: 50%;
    z-index: 1005;
}

.loginModal h3 {
    margin-bottom: 0.5em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.loginBtns {
    margin: 2em;
    padding: 0.75em 2em;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: "Roboto";
    letter-spacing: 1px;
    font-size: 14px;
    color: #3b3b3b;
    outline: none;
    border: none;
    background: linear-gradient(45deg, #aedd94, #94ddb9);
    box-shadow: 0px 3px 2px rgba(75, 95, 64, 0.35);
}

.loginBtns:hover {
    transform: translateY(-1px);
    background: linear-gradient(45deg, #c7ffaa, #aaffd4);
    cursor: pointer;
}

.createBetBtn {
    border-radius: 4px;
    background: linear-gradient(45deg, #aedd94, #94ddb9);
    box-shadow: 0px 3px 2px rgba(75, 95, 64, 0.35);
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.createBetBtn-wrapper {
    position: relative;
    display: block;
    width: 100%;
    height: 30px;
}

.voteBtn:disabled {
    background: none;
    box-shadow: none;
}

@media screen and (min-width: 1080px) {
    .signUpWrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 60%;
    }
    .howToPlay .item {
        flex: 0 0 30% !IMPORTANT;
    }
    .loginWrapper {
        background: url(../images/bg.png);
        background-position: center;
        background-size: cover;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        overflow: auto;
        position: fixed;
    }
    .loginModal {
        min-width: 0%;
    }
}

.topbar {
    padding: 1em;
    border-top: 3px solid;
    border-image: linear-gradient(45deg, #aedd94, #94ddb9) 1 round;
    margin: 0 0 30px 0;
    background-color: #F9F9F9;
}

.profile {
    margin-left: 10%;
}

.avatar {
    width: 48px;
    height: 48px;
    border-radius: 100%;
}

.avatarWrapper {
    flex: 0 0 auto;
}

.userInfo {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

.profile {
    display: flex;
    flex-direction: row;
}

.signOut {
    margin-left: 20px;
    align-self: center;
}

#closeMenuCover {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    overflow: auto;
    position: fixed;
    z-index: 1999;
    background: rgba(0, 0, 0, 0.0);
}

#createBetCover {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    overflow: auto;
    position: fixed;
    z-index: 120;
    background: rgba(0, 0, 0, 0.5);
}

.createBetCover {
    display: none;
}

.createBet {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    border-top: 10px solid;
    border-image: linear-gradient(45deg, #aedd94, #94ddb9) 1 round;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    background: white;
    z-index: 121;
    transition: 0.3s;
    display: none;
}

.createBet form {
    padding: 2em;
    padding-top: 0em;
}

.createBetHeader {
    padding: 2em;
    position: relative;
}

.addOption {
    top: inherit !important;
    right: -19px !important;
    bottom: 2px !important;
}

.createBetInput {
    display: block;
    margin-top: 0.5em;
    width: 100%;
    padding: .5em 1em;
    font-size: 16px;
    line-height: 1.5;
    background: rgb(247, 247, 247);
    border: 1px solid rgba(0, 0, 0, 0);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.createBetInput:focus {
    outline: none;
    border: 1px solid;
    border-image: linear-gradient(45deg, #aedd94, #94ddb9) 1 round;
}

.subLabel {
    font-size: 13px;
    color: #8b8b8b;
}

.coin {
    width: 31px;
    position: absolute;
    top: 3.5px;
}

#notifications {
    padding-left: 3px;
}

.notificationsWrapper {
    display: flex;
    margin-left: 1em;
    justify-content: center;
    align-items: center;
}

#errorBox {
    color: #ff5d55;
    font-size: 13px;
    margin-top: 10px;
}

.error {
    color: #ff5d55;
    font-size: 13px;
    margin-top: 5px;
}

#optionsError {
    color: #ff5d55;
    font-size: 13px;
    margin-top: 5px;
}

.createBetForm {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 320px;
}

.formColumn {
    /*flex: 0 0 29%;
    margin: 1%;
    */
    display: inline-block;
    padding: 0 7px;
    max-width: 261px;
}

.loadingScreen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.spinner {
    margin: 100px auto 0;
    width: 70px;
    text-align: center;
    margin-top: 0px;
}

.spinner>div {
    width: 18px;
    height: 18px;
    background-color: #333;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0)
    }
    40% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

#closeBet {
    position: absolute;
    right: 12px;
    top: -12px;
    cursor: pointer;
    background-color: transparent;
    font-size: 3em;
    transition: color 0.2s;
    border: none;
}

#closeBet:hover {
    color: #FF5D55;
}

#closeMenu {
    margin: .3em;
    position: fixed;
    top: 0px;
    right: 0px;
    display: none;
    font-size: 3em;
    background-color: transparent;
    border: none;
    color: white;
    transition: color 0.2s;
    z-index: 2001;
    cursor: pointer;
}

#openMenu {
    margin: .5em;
    position: fixed;
    padding: 5px;
    top: 0px;
    right: 0px;
    font-size: 2em;
    background-color: transparent;
    border: none;
    color: #232323;
    z-index: 2001;
    cursor: pointer;
}

#menu {
    font-family: "Roboto";
    opacity: .9;
    background-color: #232323;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0px;
    right: 0px;
    transform: translateX(100%);
    transition: transform .4s ease;
    z-index: 2000;
    padding: 10px 40px;
}

@media screen and (max-width: 800px) {
    #menu {
        width: 100%;
    }
}

#menu a {
    color: #fafafa;
    padding: 1em;
    font-size: 18px;
    transition: color .2s;
}

#menu div {
    display: inline-block;
    height: 1px;
    width: 90%;
    margin-left: 5%;
    background-color: #fafafa;
}

#menu a:hover {
    color: #9addb1;
}

#menu a:hover>svg path {
    fill: #9addb1;
    color: #9addb1;
}

#closeMenu:hover {
    color: #ff5d55;
}

::-webkit-scrollbar {
  width: 7px;
  height: 14px;
}
::-webkit-scrollbar-track-piece {
    background-color: #f9f9f9;
    color:#f9f9f9;
}
::-webkit-scrollbar-thumb {
  height: 6px;
  background-clip: padding-box;
  -webkit-border-radius: 7px;
  background-color: rgba(0, 0, 0, .5);
  -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}
.betsHeader {
    width: 76%;
    margin-left: 12%;
    margin-bottom: 1em;
}

.betsHeader button {
    border: none;
    background: none;
    font-weight: bold;
    margin-right: 1em;
}

.betsHeader .active {
    color: #3b3b3b;
}

button {
    cursor: pointer;
}

button:focus {
    outline: none;
}

.betsHeader button {
    transition: color 0.1s linear;
}

.betsHeader button:hover {
    transition: color 0.1s linear;
    color: #9addb1;
}

.noResults {
    text-align: center;
    margin-top: 5em;
}

.awaitingWinningOption {
    border-image: linear-gradient(45deg, hsl(99, 52%, 42%), hsl(150, 52%, 52%)) 1 round !IMPORTANT;
}

.wonBet {
    border-image: linear-gradient(45deg, #ffe555, #f9ff9f) 1 round !IMPORTANT;
}

.lostBet {
    border-image: linear-gradient(45deg, #ff3127, #dd9794) 1 round !IMPORTANT;
}

.winnerOption {
    /*border-left: 5px solid yellow !IMPORTANT;*/
    box-shadow: 0px 0px 0px 2px rgb(220, 221, 154) inset;
}

.alternative {
    border-left: 5px solid rgba(0, 0, 0, 0);
}

nav svg path {
    fill: #fafafa;
    color: #fafafa;
}

#statisticsModal {
    width: 40%;
    max-height: 80%;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-top: 10px solid;
    border-image: linear-gradient(45deg, #aedd94, #94ddb9) 1 round;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    background: white;
    z-index: 1001;
    overflow-y: scroll;
    word-break: break-word;
}

@media screen and (max-width: 1000px) {
    #statisticsModal {
        width: 60%;
    }
}

@media screen and (max-width: 600px) {
    #statisticsModal {
        width: 80%;
    }
}

@media screen and (max-width: 450px) {
    .stat {
        flex: 0 0 96% !important;
    }
}

#closeStatistics {
    position: absolute;
    right: 12px;
    top: -12px;
    cursor: pointer;
    background-color: transparent;
    font-size: 3em;
    transition: color 0.2s;
    border: none;
}

#closeStatistics:hover {
    color: #FF5D55;
}

.statistic {
    color: #3b3b3b;
    font-size: 30px;
    font-family: "Acme";
    word-wrap: break-word;
}

.statHeader {
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 1em;
}

.statHeader img {
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.statHeader p {
    font-weight: bold;
}

.statWrapper {
    padding: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.stat {
    flex: 0 0 46%;
    margin: 2%;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
    padding: 1em;
    text-align: center;
    border-top: 2px solid;
    border-image: linear-gradient(45deg, #aedd94, #94ddb9) 1 round;
}

.stat h3 {
    font-size: 16px;
    color: #8b8b8b;
}

.statAvatar {
    width: 64px;
    height: 64px;
    border-radius: 100%;
}

.menu {
    display: block;
}

.mobileMenu {
    display: none;
}

@media screen and (max-width: 1080px) {
    .mobileMenu {
        display: block;
    }
    .menu {
        display: none;
    }
}

.menu ul {
    position: absolute;
    top: 33px;
    right: 10%;
}

.menu ul li {
    display: inline-block;
}

.menu ul li a svg path {
    fill: #3b3b3b;
    transition: all 0.2s linear;
}

.menu a {
    letter-spacing: 1px;
    color: #3b3b3b;
    padding: 1em;
    font-weight: bold;
    transition: color 0.2s linear;
}

.menu a:hover {
    color: #9addb1;
    transition: color 0.2s linear;
}

.menu a:hover>svg path {
    fill: #9addb1;
    transition: all 0.2s linear;
}

.removeBet {
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    border-top: 4px solid;
    border-image: linear-gradient(45deg, #aedd94, #94ddb9) 1 round;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    background: white;
    z-index: 121;
    transition: 0.3s;
    display: none;
    max-width: 600px;
}

.removeBet>div>div>h3 {
    font-size: 1.5em;
    margin: 0px;
    margin-bottom: .5em;
    padding: 0px;
}

.removeBet>div>p {
    padding-left: 3em;
    padding-right: 3em;
    margin-bottom: 1em;
}

.removeBet>div>h4 {
    padding-left: 3em;
    padding-right: 3em;
    padding-bottom: 1em;
}

.removeBet>div>div:last-child {
    text-align: center;
    padding-bottom: 2em;
}

.removeBetBtn {
    background: linear-gradient(45deg, #ff5555, #dda394);
}
<<<<<<< HEAD

.legend {
    width: 76%;
    margin-left: 12%;
    margin-bottom: 1em;
}

.legendItem {
    display: inline-block;
    margin-top: 0.5em;
    margin-right: 1.5em;
}

.legend > div > p {
    display: inline;
}

.legendColor {
    width: 100px;
    height: 13px;
    display: inline-block;
}

.legendWon {
    background: linear-gradient(45deg, #ffe555, #f9ff9f);
}

.legendLost  {
    background: linear-gradient(45deg, #ff3127, #dd9794);
}

.legendDefault {
    background: linear-gradient(45deg, #aedd94, #94ddb9);
}

.legendAwaitingWinner {
    background: linear-gradient(45deg, #5aa233, #44c484);
}

@media screen and (max-width: 400px) {
	.profile {
   		margin-left: 0;
	}
  
	.notificationsWrapper {
		margin-left: 0;
	}
  
  	.bet {
		width: 100% !important;
  	}
}
=======
>>>>>>> New scrollbar and overflow fix
