* {
    margin: 0;
    padding: 0;

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Roboto", sans-serif;
}

.hidden {
    display: none;
}

.cover {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    overflow: auto;
    position: fixed;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.5);
}

h1, h2, h3, h4, h5, h6 {
    color: #3b3b3b;
}
  
p {
    color: #8b8b8b;
}

a {
    color: #aedd94;
    text-decoration: none;
}

a:hover {
    color: #94ddb9;
}

.loginWrapper {
    background: rgb(220, 220, 220);
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    overflow: auto;
    position: fixed;
}

.signUpWrapper {
    border-top: 3px solid;
    border-image: linear-gradient(45deg,#aedd94, #94ddb9) 1 round;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.triangle-down {
    margin-top: -1px;
    margin-left: 50%;
    margin-right: 50%;
    flex: 0 0 0% !IMPORTANT; 
    width: 0; 
    height: 0; 
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 30px solid rgb(247, 247, 247);
}

.becomeAnAddict {
    background: rgb(247, 247, 247);
}

.addictParagraph {
    text-align: left;
    width: 80%;
    margin-left: 10%;
    margin-top: 1em;
    margin-bottom: 1em;
}

.header {
    padding-top: 1em;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.subHeader {
    padding-top: 0.25em;
}

.howToPlay {
    background: linear-gradient(45deg,hsl(99, 52%, 52%), hsl(150, 52%, 52%));
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 2em;
}

.howToPlay .item {
    flex: 0 0 80%;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
}

.howToPlay .item h2 {
    font-size: 48px;
}

.howToPlay .item h2::before {
    content: "-";
}

.howToPlay .item h2::after {
    content: "-";
}

.howToPlay .item p:first-of-type {
    font-weight: 600;
    margin-bottom: 0.5em;
}

.htpText {
    color: hsl(99, 52%, 82%);
}

.loginModal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    background: white; 
    padding: 2em;
    min-width: 50%;

    z-index: 1005;
}

.loginModal h3 {
    margin-bottom: 0.5em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

button {
    margin: 2em;
    padding: 0.75em 2em;
    border-radius: 15px;

    text-transform: uppercase;
    font-weight: 600;
    font-family: "Roboto";
    letter-spacing: 1px;
    font-size: 14px;
    color: #3b3b3b;

    outline: none;
    border: none;
    background: linear-gradient(45deg, #aedd94, #94ddb9);

    box-shadow: 0px 3px 2px rgba(75, 95, 64, 0.35);
}

button:hover {
    transform: translateY(-1px);
    background: linear-gradient(45deg, #c7ffaa, #aaffd4);
    cursor: pointer;
}

.contentWrapper {
    width: 80%;
    margin-left: 10%;
}

@media screen and (min-width: 1080px) {  
    .signUpWrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 60%;
    }

    .howToPlay .item {
        flex: 0 0 30% !IMPORTANT;
    }

    .loginWrapper {
        background: url(../images/bg.png);
        background-position: center;
        background-size: cover;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        overflow: auto;
        position: fixed;
    }

    .loginModal {
        min-width: 0%;
    }
}

.userArea {
    width: 300px;
    padding: 2em;
    background: rgb(231, 231, 231);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    border-top: 3px solid;
    border-image: linear-gradient(45deg,#aedd94, #94ddb9) 1 round;
}

.avatar {
    width: 48px;
    height: 48px;
    border-radius: 100%;
}

.username {
    color: #aedd94;
}

.coins {
    color: #aedd94;
}

.avatarWrapper {
    flex: 0 0 auto;
}

.userInfo {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

.profile {
    display: flex;
    flex-direction: row;
}

.signOut {
    margin-left: 20px;
    align-self: center;
}